@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slideInRight {
  from {
    transform: translateX(120%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideIn {
  animation: slideInRight 0.4s ease-out forwards;
}

/* animasi keluar ke kanan */
@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(120%);
    opacity: 0;
  }
}

.animate-slideOut {
  animation: slideOutRight 0.4s ease-in forwards;
}